{%extends 'layout/base.html'%}
{%block content%}
<div class="row">
    <div class="col-md-5">
        <div class="box-left">
            <h5 class="box-title">Thông tin đặt khám</h5>

            <form id="bookingForm">
                <div class="mb-3">
                    <label class="form-label">Chọn Nha Sĩ</label>
                    <select class="form-select" id="dentistSelect" name="dentist_id">
                        <option value="" selected disabled>-- Chọn Nha Sĩ --</option>
                        {{ dentists }}
                        {% for d in dentists %}
                        <option value="{{ d.MaNguoiDung }}">{{ d }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <input name="date" type="date" class="form-control" id="dateInput" value="{{ today }}" min="{{ today }}">
                </div>

                <div class="mb-3 row align-items-center">
                    <label class="col-sm-3 col-form-label">Chọn Giờ:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control time-input" id="selectedTime" readonly
                               placeholder="Chọn từ danh sách"
                               name="time"
                        >

                    </div>
                </div>

                <div class="mb-3 row align-items-center">
                    <label class="col-sm-3 col-form-label">SĐT</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="patientPhone" name="phone"
                               data-is-staff="{{ 'true' if current_user.VaiTro.name == 'NhanVien' else 'false' }}"
                               placeholder="09xxxxxxx"
                               value="{% if current_user.VaiTro.value == 'Patient' %}{{ current_user.SDT }}{% endif %}"
                               {% if current_user.VaiTro.value== 'Patient' %}readonly{% endif %}>
                        <small id="phoneFeedback" class="text-success" style="display:none;">
                            <i class="fas fa-check-circle"></i> Tìm thấy bệnh nhân cũ
                        </small>
                    </div>
                </div>

                <div class="mb-3 row align-items-center">
                    <label class="col-sm-3 col-form-label">Họ Tên</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="patientName" name="name"
                               placeholder="Nhập họ tên"
                               value="{% if current_user.VaiTro.value == 'Patient' %}{{ current_user.HoTen }}{% endif %}">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="patientNote" class="form-label">Ghi Chú / Triệu chứng</label>
                    <textarea class="form-control" id="patientNote" name="patientNote" rows="3"
                              placeholder="Ví dụ: Đau răng hàm dưới, muốn cạo vôi..."></textarea>
                </div>

                <div class="row mt-4">
                    <div class="col-6 pe-2">
                        <button type="button" class="btn btn-outline-primary w-100" id="btnConfirm">Xác Nhận</button>
                    </div>
                    <div class="col-6 ps-2">
                        <button type="button" class="btn btn-outline-danger w-100" id="btnCancel">Hủy</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-7">
        <div class="d-flex align-items-center justify-content-between mb-4 mt-3">

             <div style="width: 120px;"></div>

            <h5 class="text-primary fw-bold m-0 text-uppercase text-center">
                <i class="bi bi-calendar-check me-2"></i>Chọn Giờ Khám
            </h5>

             <div style="width: 120px;">

                {# 1. Kiểm tra đã đăng nhập #}
                {# 2. Kiểm tra VaiTro.name bằng 'NhanVien' (theo Enum) #}
                {% if current_user.is_authenticated and current_user.VaiTro.name == 'NhanVien' %}

                <a href="{{ url_for('reception_dashboard', active_tab='appointment') }}"
                   class="btn btn-outline-primary btn-sm fw-bold shadow-sm">
                    <i class="fas fa-arrow-left me-1"></i> Quay lại
                </a>

                {% endif %}
            </div>

        </div>

        <div class="text-center mb-3">
            Khung giờ trống ngày: <span id="displayDate" class="fw-bold"></span><br>
            Trạng thái: <span id="statusText">...</span>
        </div>

        <table class="table table-bordered slot-table">
            <thead>
            <tr>
                <th style="width: 15%;">STT</th>
                <th style="width: 40%;">Thời Gian</th>
                <th style="width: 45%;">Trạng Thái</th>
            </tr>
            </thead>
            <tbody id="slotsTableBody">
            </tbody>
        </table>
    </div>
</div>
{%endblock%}

{% block scripts %}
<script src="{{ url_for('static', filename='js/booking.js') }}"></script>
{% endblock %}