
/* Tiêu đề chính index */
.hero-title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    color: #007bff;
    margin-bottom: 15px;
    /*display: flex;*/
    align-items: center;
    gap: 10px;
    animation: fadeInDown 0.8s ease-in-out;
}

/* Icon răng */
.tooth-icon {
    color: #0d6efd;
    animation: pulse 1.5s infinite ease-in-out;
}

/* Đoạn văn */
.hero-text {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 20px;
    animation: fadeIn 1.2s ease-in-out;
}
/*RESPONSIVE*/
@media (min-width: 599px) {
        .hero-title {
            font-size: 2.5rem;
        }
}
@media (min-width: 992px) {
        .hero-title {
            font-size: 3.5rem; /* Chữ to hơn trên máy tính */
        }
        .hero-section {
            padding-right: 3rem; /* kc với form bên phải */
        }
    }

/* Hiệu ứng */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.18);
    }
    100% {
        transform: scale(1);
    }
}

/*booking*/
.header-logo { display: flex; align-items: center; gap: 10px; color: #28a745; font-weight: bold; font-size: 1.2rem; }
.box-left { border: 1px solid #ccc; padding: 20px; border-radius: 5px; background: #fff; }
.box-title { color: #007bff; text-align: center; font-weight: bold; margin-bottom: 20px; }
time-input { color: orange; font-weight: bold; text-align: center; }

        /* Table Styling */
.slot-table th { background-color: #5b9bd5; color: white; text-align: center; }
.slot-table td { text-align: center; vertical-align: middle; cursor: pointer; }
.slot-row-selected { background-color: #5cb85c !important; color: white; } /* Màu xanh lá khi chọn */
.slot-booked { background-color: #f0f0f0; color: #999; cursor: not-allowed; pointer-events: none; }