<nav class="navbar navbar-expand-sm bg-white shadow-sm py-2">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="{{ url_for('static', filename='images/logo.png') }}"
                 alt="Logo" class="me-2"
                 style="width: 55px; height: auto;">

            <span class="fw-bold text-success" style="font-size: 1.7rem;">
                Q&B Dental Center
            </span>
        </a>
        {% if current_user.is_authenticated %}
        <div class="d-flex align-items-center">
            <div class="me-3 d-flex align-items-center">
                <i class="bi bi-person-circle fs-3 text-secondary"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   title="Họ tên: {{ current_user.HoTen }} Vai trò: {{current_user.VaiTro.value}}">
                </i>
            </div>
            <a href="/logout" class="text-danger" style="text-decoration:none;">
                <i class="bi bi-box-arrow-right fs-3" title="Đăng xuất"></i>
            </a>
        </div>
        {% endif %}
    </div>
</div>
</nav>

