
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="{{ url_for('static', filename='images/logo.png') }}"
                     alt="Logo" style="width: 55px; height: auto;">
                <span class="ms-2 fw-bold text-success" style="font-size: 1.7rem;">
                Q&B Dental Center
            </span>
            </a>
        </div>
    </div>
</nav>
